body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, rgb(21, 14, 25), rgb(45, 24, 3));
}

/* Header */
header {
    background-image: linear-gradient(to right, #171235e7, #110821);
    padding: 2em;
    width: 1em;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
}
  
header nav a {
    margin-bottom: 1em;
    color: rgba(255, 255, 255, 0.754);
    border-bottom: 0.1em solid #007BFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 0;
    font-size: 0.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}
  
header nav a:hover {
    color: #007BFF;
    opacity: 0.95;
}

/* Añadir margen izquierdo al contenido principal para que no se solape */
main {
    margin-left: 5em;
}

/* Sección */
/* General layout settings */
section {
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Center the banner text */
.banner {
    text-align: center;
    width: 100%;
    margin-bottom: 2em; /* Space between banner and content */
}

/* Flexbox for content layout */
.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5em; /* Adds space between content and contact */
}

/* Info section to the left */
.info {
    flex: 1; /* Takes equal space */
    margin-right: 2em; /* Space between info and skills */
}

/* Skills section to the right */
.skills {
    flex: 1; /* Takes equal space */
}

/* Contact section at the bottom, fixed */
.contact {
    position: fixed;
    bottom: 0;
    background-color: #0000004b;
    text-align: center;
    padding: 1em 0;
    border-radius: 8px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    right: 0;
}

/* Style the tech skills and connect links */
ul.tech-skills li,
ul.connect li {
    margin-bottom: 5px;
}

ul.connect {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Centers the links */
}

ul.connect li {
    margin: 0 10px;
}

/* Estilos para el h1 */
h1 {
    font-size: 2em; /* Tamaño grande para destacar */
    color: #ffffff; /* Contraste sobre fondo oscuro */
    letter-spacing: 1px; /* Espaciado entre letras para darle elegancia */
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para resaltar */
}

/* Estilos para el h2 */
h2 {
    font-size: 1em;
    font-weight: 600;
    color: #c7c7c7; /* Color gris claro */
    margin-bottom: 0.8em;
    letter-spacing: 1px;
    text-align: left;
    border-bottom: 2px solid  #10c5b9; /* Línea inferior de separación */
    padding-bottom: 0.3em; /* Espacio debajo del título */
}

/* Estilos para el h3 */
h3 {
    font-size: 0.5em;
    color: #e0e0e0; /* Color más claro que el h2 */
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    text-align: center;
    border-left: 4px solid #10c5b9; /* Barra vertical de color para destacar */
    padding-left: 0.5em; /* Espacio entre el borde izquierdo y el texto */
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#home {
    background-image: linear-gradient(to right, rgb(1, 12, 23), rgba(24, 33, 57, 0.33));
    color: rgba(255, 255, 255, 0.754);
    animation: fadeIn 2s ease-in-out;
}

ul.tech-skills li {
    display: block;
    margin-bottom: 5px;
}

ul.connect, 
ul.connect-invisible {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.connect li,
ul.connect-invisible li {
    margin: 0 1em;
}

ul.connect a,
ul.connect-invisible a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none; /* Quitar subrayado */
    font-size: 2em; /* Tamaño de fuente para connect */
    position: relative;
    padding-bottom: 2px;
    vertical-align: middle;
    transition: all 0.3s ease; /* Transición suave */
}

ul.connect-invisible a {
    font-size: 1em; /* Tamaño de fuente menor para connect-invisible */
}

ul.connect a:hover,
ul.connect-invisible a:hover {
    color: #10c5b9; /* Color en hover para ambos */
}

ul.connect a i.fa-github,
ul.connect-invisible a i.fa-github {
    color: #7c7c7c; /* Color de GitHub */
}

/* Estilo para el enlace de LinkedIn */
ul.connect a i.fa-linkedin,
ul.connect-invisible a i.fa-linkedin {
    color: #0A66C2; /* Color de LinkedIn */
}

/* Crea la línea debajo del texto */
ul.connect a::after,
ul.connect-invisible a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #10c5b9; /* Color de la línea */
    transition: width 0.3s ease; /* Transición suave al expandir la línea */
}

/* Cuando el mouse pasa sobre el enlace */
ul.connect a:hover::after,
ul.connect-invisible a:hover::after {
    width: 100%; /* La línea se expande a todo el ancho del enlace */
}

/* Estilo para el texto */
ul.connect a span,
ul.connect-invisible a span {
    font-size: 16px; /* Ajusta el tamaño del texto */
    vertical-align: middle; /* Alinea el texto con el icono */
}

#home p {
    line-height: 1.6;
    margin: 1em 0;
    color: #ffffffc7; /* Un color más oscuro para el texto */
}

#home strong {
    color: #007BFF; /* Color azul para resaltar habilidades */
}

/* Botones - Input */
input[type="button"],
input[type="submit"],
button {
    background-color: rgb(10, 140, 245);
    color: rgb(255, 255, 255);
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border: none;
    border-radius: 5px; /* Simplificado */
}
  
/* Botón */
button:hover {
    background-color: rgb(62, 208, 62);
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px; /* Simplificado */
}

/* Efectos */
.sombra {
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px; /* Simplificado */
}