/* Body */

body {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom, rgb(21, 14, 25), rgb(45, 24, 3));
}

/* Header */

@media (min-width: 910px){
    header {
        background-image: linear-gradient(to right, #171235e7, #110821);
        padding: 2em;
        width: 1em;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        text-align: center;
        top: 0;
        left: 0;
        bottom: 0;
    }
    
    header nav a {
        margin-bottom: 1em;
        color: rgba(255, 255, 255, 0.754);
        border-bottom: 0.1em solid #007BFF;
        padding: 2em 0;
        font-size: 0.5em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }
    
    header nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    header nav ul {
        list-style: none;
        padding: 0;
    }
      
    header nav a:hover {
        color: #007BFF;
        opacity: 0.95;
    }
    
    main {
        margin-left: 5em;
    }

    /* Content layout */

    .content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5em;
    }

    /* Info left */

    .info {
        flex: 1; 
        margin-right: 2em; /* Space between info and skills */
    }

    /* Skills right */

    .skills {
        flex: 1;
    }

    /* Contact section fixed */

    .contact {
        position: fixed;
        bottom: 0;
        background-color: #000000;
        text-align: center;
        padding: 1em 0;
        border-radius: 8px;
        box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
        right: 0;
    }
}

/* Ajustes para pantallas medianas (iPads) */
@media (max-width: 910px) {
    header {
        background-image: linear-gradient(to right, #171235, #110821);
        width: 100%;
        display: flex;
        flex-direction: row; /* Mantén los elementos en fila horizontal */
        position: fixed;
        justify-content: space-around;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1000;
    }
    
    header nav ul {
        display: flex;
        flex-direction: row; /* Mantén los elementos principales en horizontal */
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 1.5em;
        padding: 0;
        margin: 0;
    }
    
    header nav a {
        margin-bottom: 0.5em;
        color: rgba(255, 255, 255, 0.754);
        border-bottom: 0.1em solid #007BFF;
        font-size: 0.8em;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        flex-direction: column; /* Coloca el ícono y el texto en una columna */
        align-items: center; /* Asegura que tanto el ícono como el texto estén centrados */
    }
    
    header nav a i {
        font-size: 1.5em; /* Tamaño del ícono */
        margin-bottom: 0.5em; /* Espacio entre el ícono y el texto */
    }

    main{
        width: 100%;
    }

    section{
        width: auto;
        height: auto;
        top: auto;
        margin: 0;
        padding: 0;
        position: relative;
    }

    .content {
        margin: 0 auto; /* Centra el contenido */
        padding: 0; /* Añade más espacio alrededor del contenido */
        width: 100%; /* Asegura que el contenido abarque todo el ancho */
        display: flex;
        flex-direction: column; /* Coloca el contenido en una columna para mejor legibilidad */
        justify-content: center; /* Centra los elementos */
        align-items: center; /* Alinea los elementos al centro */
    }
    
    .info {
        margin: 0; /* Elimina márgenes adicionales */
        margin: 0 auto; /* Añade margen inferior entre secciones */
        width: 100%; /* Ocupa todo el ancho disponible */
        text-align: justify; /* Centra el texto */
    }

    .skills {
        margin: 0; /* Elimina los márgenes inferiores */
        padding: 0; /* Elimina rellenos */
        width: 100%;
    }

    .contact {
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #000000;
        text-align: center;
        padding: 1em 0;
        z-index: 1000;
    }

    
}

/* Section */

section {
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

/* Home */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.sombra {
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px;
}

#home {
    background-image: linear-gradient(to right, rgb(1, 12, 23), rgba(24, 33, 57, 0.33));
    color: rgba(255, 255, 255, 0.754);
    animation: fadeIn 2s ease-in-out;
}

#home p {
    line-height: 1.6;
    margin: 1em 0;
    color: #ffffffc7;
}

#home strong {
    color: #007BFF; 
}

/* Banner */

.banner {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

/* Estilos para el h1 */

h1 {
    font-size: 2em;
    color: #ffffff; 
    letter-spacing: 1px; 
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Estilos para el h2 */

h2 {
    font-size: 1em;
    font-weight: 600;
    color: #c7c7c7;
    margin-bottom: 0.8em;
    letter-spacing: 1px;
    text-align: left;
    border-bottom: 2px solid  #10c5b9;
    padding-bottom: 0.3em;
}

/* Estilos para el h3 */

h3 {
    font-size: 0.5em;
    color: #e0e0e0; 
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    text-align: center;
    border-left: 4px solid #10c5b9; 
    padding-left: 0.5em;
}

/* Tech Skills and Connect links */

ul.tech-skills li,
ul.connect li {
    margin-bottom: 5px;
}

ul.tech-skills li {
    display: block;
    margin-bottom: 5px;
}

ul.connect {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.connect li {
    margin: 0 10px;
}

ul.connect, 
ul.connect-invisible {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

ul.connect li,
ul.connect-invisible li {
    margin: 0 1em;
}

ul.connect a,
ul.connect-invisible a {
    color: rgba(255, 255, 255, 0.85);
    text-decoration: none;
    font-size: 2em;
    position: relative;
    padding-bottom: 2px;
    vertical-align: middle;
    transition: all 0.3s ease; 
}

ul.connect-invisible a {
    font-size: 1em;
}

ul.connect a:hover,
ul.connect-invisible a:hover {
    color: #10c5b9;
}

ul.connect a i.fa-github,
ul.connect-invisible a i.fa-github {
    color: #7c7c7c; 
}

/* LinkedIn */

ul.connect a i.fa-linkedin,
ul.connect-invisible a i.fa-linkedin {
    color: #0A66C2; 
}

/* Línea */

ul.connect a::after,
ul.connect-invisible a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #10c5b9; 
    transition: width 0.3s ease; 
}

ul.connect a:hover::after,
ul.connect-invisible a:hover::after {
    width: 100%; 
}

/* Estilo para el texto */

ul.connect a span,
ul.connect-invisible a span {
    font-size: 16px;
    vertical-align: middle;
}

/* Botones - Input */
input[type="button"],
input[type="submit"],
button {
    background-color: rgb(10, 140, 245);
    color: rgb(255, 255, 255);
    margin: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    border: none;
    border-radius: 5px; /* Simplificado */
}
  
/* Botón */
button:hover {
    background-color: rgb(62, 208, 62);
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 5px; /* Simplificado */
}